.expand-row {
  background-color: yellow;
}
.row-menu {
  border: none;
}
.panel-inner-1 {
  color: white;
  background-color: #343a40;
  height: 100vh;
  overflow-y: scroll;
  position: fixed;
  border-left: 2px solid slategray;
  border-bottom: 2px solid slategray;
  border-top: 2px solid slategray;
  top: 0;
  right: 0;
  width: 26vw;
  padding: 10px;
}
.sc2::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.sc2::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
.sc2::-webkit-scrollbar-thumb {
  background-color: #11171a;
  border-radius: 10px;
}
.service-date {
  background-color: white;
  color: black;
  width: 24vw;
  text-align: center;

  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  padding: 4px;
  padding-left: 0px;
}

.service-date:focus {
  border: 1px solid #56b4ef;
  box-shadow: 0px 0px 3px 1px #c8def0;
}
