.terminal-buttons {
  display: flex;
  justify-content: center;
}
.astrix {
  background-color: white;
}
.action-buttons {
  width: 50px;
}
.validation {
  color: red;
  font-size: 14px;
  margin: 0px;
  padding: 2px;
  margin-bottom: 7px;
}
.revive {
  color: white;
}
