.orange {
  font-size: x-large;
  padding: 0px;
  margin: 0px;
}
.profile-details {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  flex-wrap: nowrap;
}
.profile-info {
  text-align: center;
}
.profile-button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.sub {
  font-size: 14px;
}
.headline-1 {
  color: #7e7e7e;
  padding: 0px;
  padding-top: 1vh;
}
